.bug{
    background-color: #D73A4A;
    color: #ffffff;
}
.documentation{
    background-color: #0075CA;
    color: #ffffff;
}
.duplicate{
    background-color: #CFD3D7;
    color: #000000;
}
.enhancement{
    background-color: #a2eeef;
    color: #ffffff;
}
.undefined{
    background-color: #E0E7FF;
    color: #6368F1;
}
.good_first_issue{
    background-color: #7057FF;
    color: #ffffff;
}
.help_wanted{
    background-color: #008672;
    color: #ffffff;
}
.invalid{
    background-color: #E4E669;
    color: #6368F1;
}
.question{
    background-color: #D876E3;
    color: #ffffff;
}

.count-icon {
    display: inline-block;
    position: relative;
}

.count {
    position: absolute;
    top: 3px;
    right: 1px;

    height: 16px;
    width: 16px;

    font-size: 12px;    
    text-align: center;
}