.bug {
  background-color: #d73a4a;
  color: #ffffff;
}
.documentation {
  background-color: #0075ca;
  color: #ffffff;
}
.duplicate {
  background-color: #cfd3d7;
  color: #000000;
}
.enhancement {
  background-color: #a2eeef;
  color: #ffffff;
}
.undefined {
  background-color: #e0e7ff;
  color: #6368f1;
}
.good_first_issue {
  background-color: #7057ff;
  color: #ffffff;
}
.help_wanted {
  background-color: #008672;
  color: #ffffff;
}
.invalid {
  background-color: #e4e669;
  color: #6368f1;
}
.question {
  background-color: #d876e3;
  color: #ffffff;
}

.count-icon {
  display: inline-block;
  position: relative;
  color: orange;
}

.count {
  position: absolute;
  top: 3px;
  right: 2px;

  height: 16px;
  width: 16px;

  font-size: 12px;
  text-align: center;
}

.title-card{
  @apply text-lg font-medium leading-tight;
}

.text-anteprima{
  @apply leading-relaxed text-base pt-5;
}